<!-- add-student.component.html -->
<div class="add-course-container">
    <h2>Add course</h2>
    <form (ngSubmit)="addCourse()" #courseForm="ngForm">
      <div class="form-group">
        <label for="courseName">Name:</label>
        <input type="text" id="courseName" name="courseName" [(ngModel)]="newCourse.name" required />
      </div>

      <div class="form-group">
        <label for="courseCurrency">Currency:</label>
        <input type="text" id="courseCurrency" name="courseCurrency" placeholder="INR" disabled="true" [(ngModel)]="newCourse.currency" required />
      </div>
  
      <div class="form-group">
        <label for="coursePrice">Price:</label>
        <input type="number" id="coursePrice" name="coursePrice" [(ngModel)]="newCourse.price" required />
      </div>
  
      <div class="form-group">
        <label for="courseDescription">Description:</label>
        <input type="text" id="courseDescription" name="courseDescription" [(ngModel)]="newCourse.description" required />
      </div>
  
      <button type="submit">Add course</button>
    </form>
  </div>
  