/* navbar.component.css */
nav {
    background-color:#4caf50;
    padding: 15px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
  }
  
  a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .active {
    font-weight: bold;
  }
  