<div class="row justify-content-around">
    <div class="col-sm-6 mb-3 mb-sm-0 ">
        <div class="card  card-container">
            <div class="card-body">
                <h5 class="card-title">Students</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a routerLink="/students" class="btn btn-primary">See Students</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 ">
        <div class="card  card-container">
            <div class="card-body">
                <h5 class="card-title">Courses</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a  routerLink="/courses" class="btn btn-primary">See Courses</a>
            </div>
        </div>
    </div>
</div>