<!-- student-list.component.html -->
<div>
    <h2>Student List</h2>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Address</th>
          <th>Age</th>
          <th >Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students">
          <td>{{ student.id }}</td>
          <td>{{ student.name }}</td>
          <td>{{ student.address }}</td>
          <td>{{ student.age }}</td>
          <td class="action-col"><button [routerLink]="['/update-student', student.id]">Update</button>
            <button class="btn-delete" (click)="deleteStudent(student.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  