<!-- Child Componenet Used -->

<!-- <div>
  <h1>Main Component</h1>
  <app-child></app-child>
</div> -->
<!-- =========================================================== -->
<!-- Angular Interactions -->

<!-- <h1>{{courseName}} tutorial</h1>

<div>
  <img [src]="imageUrl" alt="Image">
</div>

<div>
  <button (click)="increaseCounter()">Click</button>
  <p> Counter value is <b>{{count}}</b></p>
</div>

<div>
  <label>Enter Your Name:</label>
  <input type="text" name="" id="" [(ngModel)]="studentName" >
  <p>Welcome to {{courseName}} tutorial {{studentName}}</p>
</div> -->

<!-- =========================================================== -->

<!-- Passing Data From Parent to Child -->

<!-- <h1>I'm {{data.relativeStatus}}</h1>
<app-child [info]="data"></app-child> -->


<!-- /* Child to Parent */ -->
<h1>Selected Child {{name}}</h1>
<app-child *ngFor="let childName of childs" [childName]="childName" (selectChild)="setName($event)"></app-child>