.container{

    text-align: center;
    background-color: azure;
    display: flex;
    padding: 2vw;
    width: 20vw;
    justify-content: space-between;
}

.child1{
    background-color: lightcoral;
}

